/*---------------------------------------------------------  Start Variables */
:root {
  --Red: hsl(0, 78%, 62%);
  --Cyan: hsl(180, 62%, 55%);
  --Orange: hsl(34, 97%, 64%);
  --Blue: hsl(212, 86%, 64%);
  --Very-Dark-Blue: hsl(234, 12%, 34%);
  --Grayish-Blue: hsl(229, 6%, 66%);
  --Very-Light-Gray: hsl(0, 0%, 98%);
  --Font-Size: 15px;
}
/*-----------------------------------------------------------  End Variables */
/*------------------------------------------------------  Start Global Rules */
-webkit-box-sizing: border-box;
* {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html {
  scroll-behavior: smooth;
  transition: 0.5s;
}
body {
  font-family: "Poppins", sans-serif;
  /* 200 , 400 , 600 */
  display: grid;
  align-items: center;
  min-height: 100vh;
  background-color: var(--Very-Light-Gray);
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

@media (max-width: 425px) {
  .container {
    width: 320px;
  }
}
@media (min-width: 768px) {
  .container {
    width: 765px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
/*--------------------------------------------------------  End Global Rules */
/*--------------------------------------------------------------  Start Code */
.container {
  margin-left: auto;
  margin-right: auto;
}
.header {
  display: block;
  text-align: center;
}
.header h2 {
  font-weight: 200;
  font-size: 33px;
  margin-bottom: 0;
}
.header h1 {
  margin-top: 7px;
  font-size: 33px;
}
.header p {
  font-weight: 200;
  font-size: var(--Font-Size);
  margin-left: 335px;
  margin-right: 315px;
}
.content {
  display: flex;
}
.container .left {
  position: relative;
  margin-left: -30px;
  margin-right: 30px;
  margin-top: 150px;
}
.container .left::before,
.container .top::before,
.container .bot::before,
.container .right::before {
  content: "";
  position: absolute;
  top: -4px;
  left: 0;
  height: 4px;
  width: 100%;
  border-top-left-radius: 100px;
  border-top-right-radius: 100px;
}
.container .left::before {
  background-color: var(--Cyan);
}
.container .top::before {
  background-color: var(--Red);
}
.container .bot::before {
  background-color: var(--Orange);
}
.container .right::before {
  background-color: var(--Blue);
}
.container .middle .top {
  position: relative;
}
.container .middle .bot {
  position: relative;
  margin-top: 30px;
}
.container .right {
  position: relative;
  margin-left: 30px;
  margin-right: -30px;
  margin-top: 150px;
}
.container .box {
  position: relative;
  width: 400px;
  height: 270px;
  background-color: white;
  box-shadow: 0px 5px 20px -2px var(--Cyan);
}
.box h3 {
  position: absolute;
  margin-top: 30px;
  margin-left: 30px;
}
.box p {
  position: absolute;
  font-weight: 200;
  font-size: var(--Font-Size);
  margin-top: 70px;
  margin-left: 30px;
  line-height: 1.5;
  margin-right: 50px;
}
.box img {
  position: absolute;
  bottom: 30px;
  right: 30px;
}

/*----------------------------------------------------------------  End Code */
